PRACT1/force-app/main/default/flows/contact_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_to_contact</name>
        <label>assign to contact</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>res.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>first_name4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>last_name4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>res.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1.province</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_record_for_contact</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>pick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>contact screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contact screen flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_record_for_contact</name>
        <label>create record for contact</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>res</inputReference>
    </recordCreates>
    <screens>
        <name>address</name>
        <label>address</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_to_contact</targetReference>
        </connector>
        <fields>
            <name>address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>first_name4</name>
                    <dataType>String</dataType>
                    <fieldText>First name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>last_name4</name>
                    <dataType>String</dataType>
                    <fieldText>Last name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>department</name>
            <dataType>String</dataType>
            <fieldText>Department</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;length of department should be grater than 2&lt;/p&gt;</errorMessage>
                <formulaExpression>len({!department})&gt;2</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_source</name>
            <choiceReferences>pick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>address1</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>address</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>res</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
