PRACT1/force-app/main/default/flows/last_modified_on_date_in_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update</targetReference>
            </connector>
            <label>dec</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lastmodified</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>last modified on date in account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>last modified on date in account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>DT__c</field>
            <value>
                <elementReference>lastmodified</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
