PRACT1/force-app/main/default/flows/lead_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_to_lead</name>
        <label>assign to lead</label>
        <locationX>777</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>leadR.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstname1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadR.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastname1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadR.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadR.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadR.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadR.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_rcord</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>lead sscreen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lead screen flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_rcord</name>
        <label>create rcord</label>
        <locationX>774</locationX>
        <locationY>561</locationY>
        <inputReference>leadR</inputReference>
    </recordCreates>
    <screens>
        <name>section</name>
        <label>section</label>
        <locationX>778</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_to_lead</targetReference>
        </connector>
        <fields>
            <name>section_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>section_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firstname1</name>
                    <defaultValue>
                        <stringValue>firstname</stringValue>
                    </defaultValue>
                    <fieldText>firstname</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>section_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lastname1</name>
                    <defaultValue>
                        <stringValue>last name</stringValue>
                    </defaultValue>
                    <fieldText>lastname</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>leadR.Company</objectFieldReference>
        </fields>
        <fields>
            <name>picklist1</name>
            <choiceReferences>picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>save lead</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>section</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
