PRACT1/force-app/main/default/flows/Opportunity_Create_Task_and_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>task2_ass</name>
        <label>task2 ass</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>task1.test1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task_ass</name>
        <label>task ass</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>task1.test1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hello</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>duedate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <name>Email1</name>
        <dataType>String</dataType>
        <expression>{!$Record.EMAIL__c}</expression>
    </formulas>
    <interviewLabel>Opportunity Create Task and Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Create Task and Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create</name>
        <label>create</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>task2_ass</targetReference>
        </connector>
        <inputReference>task1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_2</name>
        <label>create 2</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputReference>task1</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>task_ass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;task created b{!$Record.CreatedBy.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>newtask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>upcoming task</stringValue>
        </value>
    </variables>
    <variables>
        <name>product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ss</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>task.test1__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>task1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
