PRACT1/force-app/main/default/flows/screen_flow_l.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ASSIGN</name>
        <label>ASSIGN</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstname3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastname3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rec</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>screen flow l {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screen flow l</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>rec</name>
        <label>rec</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>lead</inputReference>
    </recordCreates>
    <screens>
        <name>name</name>
        <label>name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN</targetReference>
        </connector>
        <fields>
            <name>name_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>name_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firstname3</name>
                    <dataType>String</dataType>
                    <fieldText>firstname3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>name_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lastname3</name>
                    <dataType>String</dataType>
                    <fieldText>lastname3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>company</name>
            <dataType>String</dataType>
            <fieldText>company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>picklist2</name>
            <choiceReferences>picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>save lead</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
